:root {
  --et-banner-width: 1920px;
  --et-container-width: 1280px;
  --et-color-black: #1d1d1d;
  --et-color-gray: #555555;
  --et-color-primary: #d0122b;
}

.eventTemplate .et_sectionWrap .et_section p,
.eventTemplate .et_sectionWrap .et_section span,
.eventTemplate .et_sectionWrap .et_section strong,
.eventTemplate .et_sectionWrap .et_section ul {
  color: inherit !important;
  font-size: inherit !important;
  font-weight: inherit !important;
}


.eventTemplate {
  text-align: left!important;
}
.eventTemplate * {
  transition: all 0.3s ease-in-out;
}
.eventTemplate .et_banner {
  max-width: var(--et-banner-width);
  width: 100%;
  margin: auto;
}
.eventTemplate .et_banner .yt-wrap {
  width: 100%;
  aspect-ratio: 16 / 9;
  position: relative;
}
.eventTemplate .et_banner .yt-wrap iframe {
  width: 100%;
  height: 100%;
  display: block;
}
.eventTemplate .et_container {
  max-width: var(--et-container-width);
  width: 100%;
  margin: auto;
}
.eventTemplate .et_eventWrap {
  display: flex;
  gap: 120px;
  margin-top:180px;
}


.eventTemplate .et_information {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 64px;
  position: sticky;
  top: 0;
  height: 600px;
}
.eventTemplate .et_sectionWrap {
  max-width: 640px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.eventTemplate .et_sectionWrap .et_section {
  padding-bottom: 120px!important;
}

.eventTemplate .et_sectionWrap .et_section:nth-of-type(1) {
  padding-bottom: 0 !important;
}

.eventTemplate .et_sectionWrap .et_section:last-of-type{
  padding-bottom: 0;
}
.eventTemplate .et_information .et_titleWrap {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.eventTemplate .et_information .et_titleWrap .et_title {
  font-size: 56px;
  font-weight: 700;
  color: var(--et-color-black);
  line-height: 130%;
}
.eventTemplate .et_information .et_titleWrap .et_description {
  font-size: 24px;
  font-weight: 500;
  color: var(--et-color-gray);
  line-height: 150%;
}

.eventTemplate .et_sectionWrap .et_section span {
  font-size: 16px;
  font-weight: 600;
  color: var(--et-color-primary);
  margin-top: 16px!important;
  display: block;
}
.eventTemplate .et_sectionWrap .et_section p {
  font-size: 22px;
  font-weight: 400;
  color: var(--et-color-black);
  margin-top: 7px;
}

.eventTemplate .et_information .et_date ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.eventTemplate .et_information .et_date strong {
  font-size: 20px;
  font-weight: 600;
  color: var(--et-color-black);
}
.eventTemplate .et_information .et_date p {
  font-size: 20px;
  font-weight: 400;
  color: var(--et-color-gray);
}


.et_banner {margin:0 auto;}

/* 상품소개 */
.eventTemplate .et_productWrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding-top: 190px;
  background: #fff;
  position: relative;
  z-index: 3;
}
.eventTemplate .et_productWrap .et_product {
  position: relative;
  overflow: hidden;
}
.eventTemplate .et_productWrap .et_product .et_product_content {
  position: absolute;
  top: 40px;
  left: 32px;
  z-index: 1;
}
.eventTemplate .et_productWrap .et_product .et_product_content strong {
  font-size: 36px;
  font-weight: 700;
  color: var(--et-color-black);
}
.eventTemplate .et_productWrap .et_product .et_product_list {
  display: flex;
  gap: 16px;
  margin-top: 6px;
}

.eventTemplate .et_productWrap .et_product .et_product_list span {
  font-size: 20px;
  font-weight: 400;
  color: var(--et-color-gray);
}

.eventTemplate .et_productWrap .et_product button {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  padding: 10px 16px;
  background: var(--et-color-black);
  position: absolute;
  z-index:4;
  bottom: 40px;
  right: 32px;
}
.eventTemplate .et_productWrap .et_product button:hover {
  transform: scale(0.98);
}

/* 유의사항 */
.eventTemplate .caution-area {
  margin-top: 2rem;
  padding-bottom: 4rem;
}
.eventTemplate .caution-area .title {
  color: #999;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.09375;
  background: url(https://image.prospecs.com/front/images/common/promo/i_caution_minus.svg) center right/1rem no-repeat;
  cursor: pointer;
  text-align: left;
}
.eventTemplate .caution-area ul {
  margin-top: 1rem;
  text-align: left;
}
.eventTemplate .caution-area ul li {
  margin-top: 0.4rem;
  color: #757575;
  font-size: 1rem;
  font-weight: 300;
  line-height: 150%;
  margin-left: 1rem;
  text-indent: -0.5rem;
  word-break: auto-phrase;

}
.eventTemplate .caution-area ul li::before {
  display: inline-block;
  content: "·";
  font-size: 1rem;
  font-weight: 300;
  line-height: 150%;
  margin-right: 0.5rem;
}
.eventTemplate .caution-area ul li:first-of-type {
  margin-top: 0;
}
.eventTemplate .caution-area.closed .title {
  background: url(https://image.prospecs.com/front/images/common/promo/i_caution_plus.svg) center right/1rem no-repeat;
}



@media (min-width:581px) and (max-width: 768px) {
  .et_container {
    padding: 0 16px 16px;
  }
  .eventTemplate .et_eventWrap {
    flex-direction: column;
  }
  .eventTemplate .et_sectionWrap {
    max-width: 100%;
    background: #fff;
    position: relative;
  }
  .eventTemplate .et_sectionWrap .et_section {
    position: sticky;
    top: 0;
    z-index: 2;
    background: #fff;
  }
  .eventTemplate .et_sectionWrap .et_section:last-of-type {
    position: relative;
    z-index: 4;
  }
  .eventTemplate .et_productWrap {
    grid-template-columns: repeat(2, 1fr);
    gap:8px;
  }
}
@media (max-width: 580px) {
  .eventTemplate .et_information .et_titleWrap .et_title {
    font-size: 32px;
  }
  .eventTemplate .et_eventWrap {
    gap: 96px;
  }
  .eventTemplate .et_information {
    height: inherit;
    flex: 1;
    gap: 40px;
  }
  .eventTemplate .et_information .et_titleWrap .et_description {
    font-size: 20px;
  }
  .eventTemplate .et_information .et_date strong,
  .eventTemplate .et_information .et_date p {
    font-size: 16px;
  }
  .eventTemplate .et_productWrap {
    padding-top: 182px;
    grid-template-columns: 1fr;
  }
   .eventTemplate .et_productWrap {
    grid-template-columns: repeat(2, 1fr);
  }
  .eventTemplate .et_productWrap .et_product .et_product_content {
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 1;
}
.eventTemplate .et_productWrap .et_product .et_product_list {
  display: flex;
  gap: 8px;
  margin-top: 6px;
}
}
@media (max-width: 768px) {

  /* 타이틀 영역 */
  .eventTemplate .et_information .et_titleWrap .et_title {
    font-size: 52px;
  }

  .eventTemplate .et_information .et_titleWrap .et_description {
    font-size: 20px;
  }

  /* 섹션 텍스트 */
  .eventTemplate .et_sectionWrap .et_section span {
    font-size: 12px;
  }

  .eventTemplate .et_sectionWrap .et_section p {
    font-size: 18px;
  }

  /* 날짜 */
  .eventTemplate .et_information .et_date strong,
  .eventTemplate .et_information .et_date p {
    font-size: 16px;
  }

  /* 상품 카드 */
  .eventTemplate .et_productWrap .et_product .et_product_content strong {
    font-size: 19px;
  }

  .eventTemplate .et_productWrap .et_product .et_product_list span {
    font-size: 9px;
  }

  .eventTemplate .et_productWrap .et_product button {
    font-size: 13px;
  }


  .eventTemplate .et_productWrap .et_product button {
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  padding: 6px 12px;
  background: var(--et-color-black);
  position: absolute;
  z-index:4;
  bottom: 16px;
  right: 16px;
}

  /* 유의사항 */
  .eventTemplate .caution-area strong {
    font-size: 13px;
  }

  .eventTemplate .caution-area li {
    font-size: 11px;
  }
}
